.about_title {
	font-family: 'Rufina', sans-serif;
	font-size: 3rem;
	line-height: 1.33333;
	text-align: center;
	color: #594036;
	max-width: 40rem;
	margin: 0 auto;
}

.about_top {
	background: #faf3e4;
	padding: 3.95rem 0;
}

.about_content__title {
	font-size: 3rem;
	line-height: 1.33333;
	font-family: 'Rufina', sans-serif;
	max-width: 31rem;
}

.about_content__info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5rem;
	margin-bottom: 7.5rem;
}

.about_content {
	padding: 7.525rem 0;
}

.about_content__text {
	flex: 1;
	max-width: 42rem;
	font-size: 1.12rem;
	line-height: 1.33333;
}

.about_content__text p {
	margin-bottom: 1.525rem;
}

.about_content__text p:last-child {
	margin-bottom: 0;
}

.about_content__satisfaction {
	background: #876b3e;
	color: #fff;
	padding: 3.5rem 7.5rem;
}

.about_content__satisfaction__title {
	font-size: 3rem;
	line-height: 1.33333;
	color: #fff;
	font-family: 'Rufina', sans-serif;
	width: 33.5rem;
	border-right: 1px solid #faf3e4;
}

.about_content__satisfaction__row {
	display: flex;
	margin: 0 auto;
	align-items: flex-start;
}

.about_content__satisfaction__info {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 1.5rem 0 0 2rem;
}

.about_content__satisfaction__icon img {
	width: 100%;
}

.about_content__satisfaction__icon {
	width: 5rem;
}

.about_content__satisfaction__text {
	flex: 1;
	padding-top: 0.5rem;
}

@media screen and (max-width: 1024px) {
	.about_title {
		font-size: 2.75rem;
	}

	.about_content__title {
		font-size: 2.15rem;
		max-width: 22.5rem;
	}

	.about_content__text {
		font-size: 14px;
	}

	.about_content {
		padding: 5rem 0;
	}

	.about_content__satisfaction__title {
		width: 18rem;
		font-size: 2.25rem;
	}

	.about_content__satisfaction {
		padding: 3rem;
	}
}

@media screen and (max-width: 800px) {
	.about_title {
		font-size: 2.15rem;
	}

	.about_content__info {
		flex-direction: column;
		margin-bottom: 3.75rem;
		gap: 30px;
	}

	.about_content__title {
		font-size: 28px;
		max-width: 30rem;
	}

	.about_content {
		padding: 2.5rem 0 0;
	}

	.about_content__satisfaction {
		width: 100vw;
		margin: 0 -15px;
		padding: 2rem 15px 2.5rem;
	}

	.about_content__satisfaction__title {
		font-size: 28px;
		width: 100%;
		border: none;
	}

	.about_content__satisfaction__info {
		padding: 25px 0px 0;
		align-items: center;
	}

	.about_content__satisfaction__row {
		flex-direction: column;
	}
}

@media screen and (max-width: 550px) {
	.about_title {
		font-size: 1.6rem;
		max-width: 370px;
	}
	.about_top {
		padding: 3.25rem 0 3.5rem;
	}

	.about_content__title {
		font-size: 24px;
	}

	.about_content__info {
		gap: 24px;
	}
}
