<div class="page_review__item __animate__top">
    <div class="page_review__item__content">
        <div class="page_review__item__text">
           @@text
        </div>
        <div class="page_review__item__bottom">
            <div class="page_review__item__name">@@name</div>
            <div class="page_review__item__date">@@date</div>
        </div>
    </div>
</div>