// font


@font-face {
    font-family: 'MTS Wide';
    src: url('../fonts/MTSWide-Regular.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MTS Wide';
    src: url('../fonts/MTSWide-Medium.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'MTS Wide';
    src: url('../fonts/MTSWide-Bold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'MTS Wide';
    src: url('../fonts/MTSWide-Black.otf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family:'MTS Text';
    src: url('../fonts/MTSText-Regular.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'MTS Text';
    src: url('../fonts/MTSText-Medium.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'MTS Compact';
    src: url('../fonts/MTSCompact-Regular.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'MTS Compact';
    src: url('../fonts/MTSCompact-Medium.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


