.title_page--left {
	text-align: left;
}

.page_content.page_content--contact {
	padding: 0rem 0;
}

.contact_page__col__item__title {
	font-size: 1.12rem;
	line-height: 1.33333;
	text-transform: uppercase;
	color: #876b3e;
	font-family: 'Rufina', sans-serif;
	margin-bottom: 0.15rem;
}

.contact_page__info {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.contact_page__col {
	flex: 1;
	border-right: 1px solid #876b3e;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact_page__col:last-child {
	border-right: none;
}

.contact_page__col__item__value {
	font-size: 1.12rem;
	line-height: 1.22222;
	color: #161616;
}

.contact_page__col__item__value a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

.contact_page__col__item__value a:hover {
	color: #876b3e;
}

.contact__block.contact__block--contact_page .contact__block__map {
	margin-left: 0;
	width: 33.35vw;
}

.contact__block.contact__block--contact_page {
	background: transparent;
	margin-bottom: 4rem;
}

.contact__block.contact__block--contact_page .contact__block__form__block {
	background: #faf7ef;
	margin-left: 34.5%;
	margin-right: auto;
	width: 66.5%;
	padding-left: 5rem;
	padding-right: 5rem;
	min-height: 56.25rem;
	justify-content: center;
}

@media screen and (max-width: 1024px) {
	.contact__block.contact__block--contact_page .contact__block__form__block {
		width: 50%;
		margin-left: 50%;
		padding-right: 15px;
		padding-left: 15px;
	}

	.contact__block.contact__block--contact_page .contact__block__map {
		width: 50%;
	}
}
@media screen and (max-width: 800px) {
	.contact_page__col {
		width: 100%;
		flex: none;
		border-bottom: 1px solid #876b3e;
		padding-bottom: 2rem;
		flex-direction: row;
		border-right: none;
		flex-wrap: wrap;
		gap: 2rem;
	}

	.contact_page__col__item {
		flex: 1 0 150px;
	}

	.contact__block.contact__block--contact_page .contact__block__form__block {
		width: 100%;
		margin: 0;
		height: auto;
		min-height: 0;
	}

	.contact__block.contact__block--contact_page {
		margin: 0 -15px;
	}

	.contact__block.contact__block--contact_page .contact__block__map {
		width: 100%;
	}
}
