.loaded .modal__menu {
    transition: 0.25s ease-in-out;
}

.modal__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    overflow: scroll;
    pointer-events: none;
    transform: translate(0%, -2%);
    max-width: 100%;
    width: 100%;
    background: #fff;
    visibility: hidden;
    color: $textColor;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0%, 0);
    }
}


.loaded .modal__menu__overlay {
    transition: 0.25s ease-in-out;
}


.modal__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    pointer-events: none;

    &.active {
        opacity: 1;
        z-index: 9;
        visibility: visible;
        pointer-events: all;
    }
}

.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__menu__inner {
    padding: 25px 20px 30px;
}

.modal__menu__btn_close {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    position: relative;
    border: none;
}

.modal__menu__btn_close:before,.modal__menu__btn_close:after {
    height: 1.25px;
    width: 65%;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    background: #876b3e;
    transform: rotate(45deg);
}

.modal__menu__btn_close:after {
    transform: rotate(-45deg);
}