<div class="contact__block">
    <div class="container">
        <div class="contact__block__map">

            <div class="contact__block__map__content __animate__opacity" data-delay="0.25" data-duration="0.75">
                <div class="contact_bottom__list">

                    <div class="contact_bottom__item contact_bottom__item--adress">
                        <div class="contact_bottom__item__content">
                            <div class="contact_bottom__item__value">
                                <div class="contact_bottom__item__value__content">37 W 47th St, New York, NY 10036</div>
                            </div>
                        </div>
                    </div>

                    <div class="contact_bottom__item contact_bottom__item--phone">
                        <div class="contact_bottom__item__content">
                            <div class="contact_bottom__item__value">
                                <div class="contact_bottom__item__value__title">Office</div>
                                <div class="contact_bottom__item__value__content">
                                    <a href="tel:+1 212-382-2613">+1 212-382-2613</a>
                                </div>
                            </div>

                            <div class="contact_bottom__item__value">
                                <div class="contact_bottom__item__value__title">Cell</div>
                                <div class="contact_bottom__item__value__content">
                                    <a href="tel:+917 439-0130">+917 439-0130</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="contact_bottom__item contact_bottom__item--business_hours">
                        <div class="contact_bottom__item__content">
                            <div class="contact_bottom__item__value">
                                <div class="contact_bottom__item__value__title">Business hours</div>
                                <div class="contact_bottom__item__value__content">
                                    <div class="contact_bottom__item__value__hours__row">
                                        <span>Mon-Fri</span>
                                        <span>10 am - 5 pm</span>
                                    </div>
                                    <div class="contact_bottom__item__value__hours__row">
                                        <span>Sat, sun</span>
                                        <span>Closed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="js_contact__block__map contact__block__map_do" data-coord="40.75776347412429, -73.98035797486955"></div>
        </div>
        @@include('form.html')
    </div>
</div>