html {
	box-sizing: border-box;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

html * {
	max-height: 1000000px;
}

html,
body {
	scrollbar-gutter: stable;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

a[href^='http']:empty::before {
	content: attr(href);
}

img,
video,
audio {
	max-width: 100%;
	height: auto;
}

label,
button,
select {
	cursor: pointer;
}

label[for] {
	cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
	outline: none;
}

a,
button {
	cursor: pointer;
}

body {
	font-family: $font;
	line-height: 1.4;
	color: $textColor;
}

.loaded a {
	transition: 0.25s ease-in-out;
}

.loaded .btn_default {
	transition: 0.25s ease-in-out;
}

.btn_default {
	appearance: none;
	border-radius: 0;
	border: none;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.hide_scrollbar::-webkit-scrollbar {
	display: none;
}

.hide_scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.page__wrap {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 85.5rem;
	padding: 0 1.25rem;
}

.title_x {
	font-weight: 600;
	font-size: 42px;
	line-height: 1.2;
	margin: 0 0 24px;

	&--center {
		text-align: center;
	}
}

.form_field {
	position: relative;
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	&--btn {
		margin-bottom: 0;

		button {
			width: 100%;
			justify-content: center;
			font-weight: 500;
			font-size: 17px;
		}
	}

	input {
		width: 100%;
		padding: 14px 20px;
		line-height: 1;
		border: 1px solid rgba($textColor, 0.3);
		border-radius: 0px;
		-webkit-appearance: none;
	}

	textarea {
		width: 100%;
		padding: 14px 20px;
		line-height: 1.5;
		border: 1px solid rgba($textColor, 0.3);
		border-radius: 0px;
		resize: vertical;
		min-height: 100px;
		-webkit-appearance: none;
	}
}

.field_item--file__list:empty {
	display: none;
}

.field_item--file__list {
	margin-top: 1.5rem;
	display: flex;
	gap: 0.15rem 2rem;
	flex-wrap: wrap;
}

.field_item--file__added {
	font-size: 1.1rem;
	line-height: 1.22222;
	color: #594036;
	cursor: pointer;
}

.loaded .field_item--file__added {
	transition: 0.25s;
}

.field_item--file__added:hover {
	color: inherit;
}

.field_item--file__added__remove {
	transform: rotate(45deg);
	display: inline-block;
	font-size: 2.25rem;
	line-height: 1;
	vertical-align: middle;
	margin-left: 0.35rem;
	margin-top: -0.2rem;
	font-weight: 400;
	color: #2b2420;
}

@media screen and (max-width: 550px) {
	.field_item--file__added__remove {
		margin-top: -0.3rem;
	}
	.field_item--file__list {
		gap: 0.4rem 1.5rem;
	}
}

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
	background: white;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
	background: #876b3e;
	border-color: #876b3e;
}

.flatpickr-day.today {
	border-color: #886b3d26;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
	background: #594036;
	border-color: #594036;
}


.flatpickr-months .flatpickr-month {
	height: 40px;
}

.flatpickr-calendar:has(.flatpickr-time) {
	width: 275px;
}


::selection {
    background: #876b3e;
    color: #fff
}

::-moz-selection {
    background: #876b3e;
    color: #fff
}