.modal__default {
	display: none;
	padding: 0;
	max-width: 450px;
	width: 100%;
	color: $textColor;
}

.modal__inner {
	padding: 32px 50px;
}

.modal__title {
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
	line-height: 1.25;
}

.modal__menu__top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 30px;
}

.modal__menu__logo {
	display: block;
	font-size: 0;
	width: 5.5rem;
}

.modal__menu__list ul {
	list-style: none;
}

.modal__menu__list a {
	font-size: 1.45rem;
	color: #876b3e;
	text-decoration: none;
}

.modal__menu__list ul {
	display: flex;
	flex-direction: column;
	gap: 0.85rem;
}

.modal__menu__list a:hover {
	color: #594036;
}

.modal__menu__inner {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

.modal__menu__list {
	flex: 1;
}

.modal__menu__contact {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-top: 1px solid #ccc;
	padding-top: 1.2rem;
	margin-top: 1.5rem;
}

.modal__menu__contact__phone {
	color: #594036;
	text-decoration: none;
	font-size: 1.2rem;
}

.btn_modal__menu__contact {
	background: transparent;
	color: #876b3e;
	border: 1.5px solid #876b3e;
}

.btn_modal__menu__contact:hover {
	background: #876b3e;
	color: #fff;
}
