.title_display {
	font-weight: 700;
	font-size: 5.5rem;
	line-height: 1.27273;
	margin: 0 0 1rem;
	font-family: 'Rufina', sans-serif;
}

.home_promo__title {
	padding-right: 5rem;
	margin-bottom: 1.85rem;
}

.home_promo {
	padding: 5rem 0 1.15rem;
}

.home_promo__text {
	font-size: 1.5rem;
	line-height: 1.25;
	color: #594036;
	padding-left: 0.4rem;
}

.home_promo__text p {
	margin-bottom: 1.5rem;
}

.home_promo__text p:last-child {
	margin-bottom: 0;
}

.title_display {
	font-weight: 700;
	font-size: 5.5rem;
	line-height: 1.27273;
	margin: 0 0 1rem;
	font-family: Rufina, sans-serif;
}

.home_promo__title {
	padding-right: 5rem;
	margin-bottom: 1.85rem;
}

.home_promo {
	padding: 5rem 0 4.45rem;
}

.home_promo__text {
	font-size: 1.5rem;
	line-height: 1.25;
	color: #594036;
	padding-left: 0.4rem;
}

.home_promo__text p {
	margin-bottom: 1.5rem;
}

.home_promo__text p:last-child {
	margin-bottom: 0;
}

.home_promo__more {
	margin-top: 2rem;
}

.btn_dark_yellow {
	border-radius: 0.06rem;
	padding: 0.69rem 2rem 0.81rem 2rem;
	font-size: 1.12rem;
	line-height: 1.22222;
	text-align: center;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #876b3e;
}

.btn_dark_yellow:hover {
	background: #594036;
}

.home_promo__line__list {
	flex-shrink: 0;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.home_promo__line__block {
	display: inline-flex;
	flex-direction: column;
	font-size: 0;
	gap: 1.1rem;
}

.home_promo__line__section {
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: 1rem;
	width: 100vw;
	margin-left: calc(-1 * (100vw - 83rem) / 2);
	align-items: center;
	font-size: 0;
}
.home_promo__line__list.marquee__line:first-child {
	margin-left: -4.5rem;
}

.home_promo__line__block.home_promo__line__block--1 {
	width: 16.275rem;
}

.home_promo__line__block.home_promo__line__block--2 {
	width: 16.2rem;
}

.home_promo__line__block.home_promo__line__block--3 {
	width: 16.25rem;
}

.home_promo__line__block.home_promo__line__block--4 {
	width: 30rem;
}

.home_promo__line__item img {
	width: 100%;
}

.home_promo__line__item {
	width: 100%;
}

.home_promo__line__block.home_promo__line__block--5 {
	width: 18.5rem;
}

.home_about {
	background: #faf3e4;
}

// .home_promo__line__section:hover .marquee__line {
//     animation-play-state: paused
// }

@keyframes scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

.marquee__line {
	animation: scroll 40s linear infinite;
}

.home_about__text {
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 1.33333;
	text-align: center;
	color: #594036;
	font-family: 'Rufina', sans-serif;
}

.home_promo__line {
	padding-bottom: 0.975rem;
}

.home_about__info {
	max-width: 52.5rem;
	margin: 0 auto;
	padding: 15rem 0;
}

.home_about__info__bottom {
	position: absolute;
	bottom: 1.75rem;
	left: 0;
	font-weight: 400;
	font-size: 1.12rem;
	line-height: 1.33333;
	text-transform: uppercase;
	color: #876b3e;
	right: 0;
	font-family: 'Rufina', sans-serif;
	max-width: 71rem;
	margin: auto;
}

.home_about .container {
	position: relative;
}

.home_about__info__bottom__line {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 5.05rem;
}

.home_about__info__bottom__line__item {
	position: relative;
}

.home_about__info__bottom__line__item:after {
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.46722 7.05561C2.66488 6.95496 2.86228 6.84261 3.05727 6.7219C3.8554 6.22782 4.68019 5.55139 5.42416 4.80742C6.16813 4.06344 6.84456 3.23864 7.33864 2.44051C7.45935 2.24552 7.5717 2.04812 7.67235 1.85046C7.77301 2.04812 7.88536 2.24553 8.00607 2.44051C8.50015 3.23865 9.17659 4.06345 9.92056 4.80743C10.6645 5.5514 11.4893 6.22784 12.2875 6.72192C12.4825 6.84263 12.6799 6.95498 12.8775 7.05564C12.6799 7.15629 12.4825 7.26864 12.2875 7.38935C11.4893 7.88343 10.6645 8.55986 9.92057 9.30383C9.17659 10.0478 8.50016 10.8726 8.00608 11.6707C7.88538 11.8657 7.77303 12.0631 7.67238 12.2608C7.57172 12.0631 7.45937 11.8657 7.33866 11.6707C6.84458 10.8726 6.16815 10.0478 5.42418 9.30381C4.6802 8.55983 3.8554 7.8834 3.05727 7.38932C2.86228 7.26862 2.66488 7.15627 2.46722 7.05561Z' stroke='%23876B3E'/%3E%3C/svg%3E%0A");
	position: absolute;
	right: -3.1rem;
	content: '';
	width: 1rem;
	height: 1rem;
	top: 50%;
	transform: translate(0, -50%);
}

.home_about__info__bottom__line__item:last-child:after {
	display: none;
}

.home_big_link_block__item__title {
	font-size: 3.5rem;
	line-height: 1.21429;
	font-family: 'Rufina', sans-serif;
	margin-bottom: 0.5rem;
}

.home_big_link_block__item {
	color: #161616;
	text-decoration: none;
	border: 1px solid #dbcfb8;
	display: flex;
	flex-wrap: wrap;
	padding: 3.5rem 7.5rem 3.4rem;
	gap: 1rem;
}
a.home_big_link_block__item{transition: background .25s ease-in-out;}
.home_big_link_block__item__text {
	line-height: 1.25;
	color: #2f3033;
}

.home_big_link_block {
	padding: 7.425rem 0;
}

.home_big_link_block__item__book {
	display: flex;
	flex-wrap: wrap;
	width: 17.5rem;
	font-size: 1.12rem;
	line-height: 1.33333;
	text-transform: uppercase;
	color: #161616;
	font-family: 'Rufina', sans-serif;
	align-items: center;
	gap: 1.125rem;
}

.home_big_link_block__item__info {
	flex: 1;
}

.home_big_link_block__item__book__icon {
	background: #faf3e4;
	border-radius: 2rem;
	width: 2.8rem;
	height: 2.8rem;
	align-items: center;
	justify-content: center;
	display: flex;
}

.home_big_link_block__guarantee {
	border-radius: 0 0 0.12rem 0.12rem;
	padding: 3.5rem 7.5rem;
	background: #876b3e;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.home_big_link_block__item:last-child {
	margin-top: -1px;
	margin-bottom: -1px;
}

.home_big_link_block__guarantee__title {
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 1.21429;
	font-family: 'Rufina', sans-serif;
	width: 49.25%;
	border-right: 1px solid #fff;
	padding-right: 2rem;
}

.home_big_link_block__guarantee__label {
	width: 50.75%;
	display: flex;
	align-items: center;
	padding-left: 2rem;
	gap: 2rem;
}



.home_big_link_block__guarantee__label__text {
	flex: 1;
}

.home_big_link_block__guarantee__label__icon {
	font-size: 0;
	width: 5rem;
}

.home_big_link_block__guarantee__label__icon img {
	width: 100%;
}

.home_big_link_block__item:hover {
	background: #faf7ef;
}

.loaded .home_big_link_block__item__book__icon {
	transition: 0.25s ease-in-out;
}

.home_big_link_block__item:hover .home_big_link_block__item__book__icon {
	transform: translate(0.5rem, 0);
	background: #876B3E;
}


.home_big_link_block__item:hover .home_big_link_block__item__book__icon path {
    stroke: #fff;
}

.loaded .home_big_link_block__item__title {
	transition: 0.25s ease-in-out;
}

.home_big_link_block__item:hover .home_big_link_block__item__title {
	color: #876b3e;
}

.field_item__title {
	font-size: 0.88rem;
	line-height: 1.14286;
	margin-bottom: 0.2rem;
}

.field_row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.field_item__content input,
.field_item__content textarea {
	border: 1px solid #6d717f;
	border-radius: 0.06rem;
	color:inherit;
	padding: 0.73rem 0.5rem;
	width: 100%;
	background: #faf7ef;
	font-size: inherit;
	font-family: inherit;
	font-size: 1.1rem;
	-webkit-appearance: none;
}

.field_item__content textarea {
	resize: vertical;
	height: 6.25rem;
}

.field_group {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 1.85rem 0;
}

.contact__block {
	background: #faf7ef;
}

.field_item {
	flex: 1;
}

.home_big_link_block__item__book__icon svg {
	width: 37%;
	height: auto;
}

.review_home__item__section {
	padding: 0 0.75rem;
}

.review_home_list {
	width: 100vw;
	display: block;
	margin-left: calc(-1 * ((100vw - 83rem) / 2));
}

.title_y {
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 1.21429;
	text-align: center;
	color: #161616;
	font-family: 'Rufina', sans-serif;
	margin-bottom: 1rem;
}

.text_y {
	font-size: 1.12rem;
	line-height: 1.22222;
	text-align: center;
	color: #2f3033;
	max-width: 50rem;
	margin: 0 auto 2rem;
}

.faq_item__title {
	font-size: 1.5rem;
	line-height: 1.25;
	color: #594036;
	font-family: 'Rufina', sans-serif;
	padding-right: 4rem;
}

.faq_item {
	border: 1px solid #faf3e4;
	padding: 0 7.45rem;
	margin-top: -1px;
	position: relative;
}

.faq_home_block {
	margin-top: 2rem;
}

.faq_item__top {
	position: relative;
	padding: 1.95rem 0;
	cursor: pointer;
	cursor: pointer;
}

.faq_item__content {
	display: none;
	padding: 1.5rem 0 3.05rem;
	font-weight: 400;
	font-size: 1.12rem;
	line-height: 1.33333;
}

.faq_item:first-child {
	margin-top: 0;
}

.faq_item__btn svg {
	width: 100%;
	height: auto;
}

.faq_item__btn {
	right: 0;
	position: absolute;
	top: 1.5rem;
	transition: transform 0.25s;
	width: 2.875rem;
}

.loaded .faq_item__top {
	transition: 0.25s;
}

.faq_item__content__inner p {
	margin-bottom: 1.5rem;
}

.faq_item__content__inner p:last-child {
	margin-bottom: 0;
}

.faq_item.active {
	border-color: #dbcfb8;
	z-index: 2;
	background: #faf7ef;
}

.loaded .faq_item {
	transition: 0.25s;
}

.faq_item:hover {
	background: #faf7ef;
}

.faq_item.active .faq_item__btn {
	transform: rotate(-45deg);
}

.home_faq {
	padding: 0 0 7.35rem;
}

.review_home__item {
	background: #faf7ef;
	background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.304 10.304C10.304 7.95733 11.2 5.78133 12.992 3.776C14.784 1.77067 16.32 0.512001 17.6 0L18.56 1.344C17.28 2.02667 16.192 3.008 15.296 4.288C14.4427 5.568 13.952 6.89067 13.824 8.256C14.1653 8.04267 14.6987 7.936 15.424 7.936C16.192 7.936 16.8533 8.27733 17.408 8.96C17.9627 9.6 18.24 10.4533 18.24 11.52C18.24 12.5867 17.8347 13.4613 17.024 14.144C16.256 14.784 15.296 15.104 14.144 15.104C12.992 15.104 12.0533 14.6987 11.328 13.888C10.6453 13.0773 10.304 11.8827 10.304 10.304ZM3.84 15.104C2.73067 15.104 1.81333 14.5067 1.088 13.312C0.362667 12.1173 0 10.7947 0 9.344C0 7.89333 0.298667 6.61333 0.896 5.504C1.49333 4.352 2.24 3.41333 3.136 2.688C4.84267 1.32267 6.22933 0.426666 7.296 0L8.256 1.344C6.976 2.02667 5.888 3.008 4.992 4.288C4.13867 5.568 3.648 6.89067 3.52 8.256C3.86133 8.04267 4.39467 7.936 5.12 7.936C5.888 7.936 6.54933 8.27733 7.104 8.96C7.65867 9.6 7.936 10.4533 7.936 11.52C7.936 12.5867 7.53067 13.4613 6.72 14.144C5.952 14.784 4.992 15.104 3.84 15.104Z' fill='%23DBCFB8'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	padding: 3.825rem 1rem 1.75rem;
	font-size: 1.12rem;
	line-height: 1.33333;
	color: #594036;
	background-position: 0.55rem 1.4rem;
	background-size: 1.25rem;
}

.review_home__item__text p {
	margin-bottom: 1rem;
}

.review_home__item__text p:last-child {
	margin-bottom: 0;
}

.review_home__item__name {
	font-family: 'Rufina', sans-serif;
	font-size: 1.12rem;
	line-height: 1.33333;
	text-transform: uppercase;
}

.review_home__item__bottom {
	margin-top: 1.3rem;
}

.review_home__item__date {
	font-size: 0.88rem;
	line-height: 1.42857;
	color: #2f3033;
}

.review_home {
	padding: 0 0 4.85rem;
}

.contact__block .container {
    position: relative;
    min-height: 56.25rem;
    display: flex;
    flex-wrap: wrap;
}

.contact__block__map {
	top: 0;
	position: absolute;
	left: 0;
	width: 51.5vw;
	margin-left: calc(-1 * ((100vw - 83rem) / 2));
	height: 100%;
	background: #ccc;
}

.contact__block__form__block {
	width: 50%;
	margin-left: 50%;
	padding-left: 3.5rem;
	padding-top: 7.5rem;
	display: flex;
    flex-wrap: wrap;
}
.contact__block__map_do {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.contact__block__map__content {
	background: #2b2420;
	color: #fff;
	border-radius: 0.12rem;
	padding: 1rem;
	width: 19.75rem;
	left: 40.75%;
	position: absolute;
	top: 50%;
	font-size: 1.12rem;
	line-height: 1.22222;
	color: #fff;
	z-index: 2;
	transform: translate(0, -50%);
}

.contact_bottom__item {
	padding-left: 1.55rem;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 1rem;
}

.contact_bottom__item.contact_bottom__item--adress {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 6.66675C14 11.3334 8 15.3334 8 15.3334C8 15.3334 2 11.3334 2 6.66675C2 5.07545 2.63214 3.54933 3.75736 2.42411C4.88258 1.29889 6.4087 0.666748 8 0.666748C9.5913 0.666748 11.1174 1.29889 12.2426 2.42411C13.3679 3.54933 14 5.07545 14 6.66675Z' stroke='%23FAF3E4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 8.66675C9.10457 8.66675 10 7.77132 10 6.66675C10 5.56218 9.10457 4.66675 8 4.66675C6.89543 4.66675 6 5.56218 6 6.66675C6 7.77132 6.89543 8.66675 8 8.66675Z' stroke='%23FAF3E4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.contact_bottom__item__value__title {
	font-size: 0.75rem;
	line-height: 1.33333;
}

.contact_bottom__list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact_bottom__item.contact_bottom__item--phone {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_50_765)'%3E%3Cpath d='M14.6669 11.28V13.28C14.6677 13.4657 14.6297 13.6494 14.5553 13.8195C14.4809 13.9897 14.3718 14.1424 14.235 14.2679C14.0982 14.3934 13.9367 14.489 13.7608 14.5485C13.5849 14.6079 13.3985 14.63 13.2136 14.6133C11.1622 14.3904 9.19161 13.6894 7.46028 12.5666C5.8495 11.5431 4.48384 10.1774 3.46028 8.56665C2.3336 6.82745 1.63244 4.84731 1.41361 2.78665C1.39695 2.60229 1.41886 2.41649 1.47795 2.24107C1.53703 2.06564 1.63199 1.90444 1.75679 1.76773C1.88159 1.63102 2.03348 1.52179 2.20281 1.447C2.37213 1.37221 2.55517 1.33349 2.74028 1.33332H4.74028C5.06382 1.33013 5.37748 1.4447 5.62279 1.65567C5.8681 1.86664 6.02833 2.15961 6.07361 2.47998C6.15803 3.12003 6.31458 3.74847 6.54028 4.35332C6.62998 4.59193 6.64939 4.85126 6.59622 5.10057C6.54305 5.34988 6.41952 5.57872 6.24028 5.75998L5.39361 6.60665C6.34265 8.27568 7.72458 9.65761 9.39361 10.6066L10.2403 9.75998C10.4215 9.58074 10.6504 9.45722 10.8997 9.40405C11.149 9.35088 11.4083 9.37029 11.6469 9.45998C12.2518 9.68568 12.8802 9.84224 13.5203 9.92665C13.8441 9.97234 14.1399 10.1355 14.3513 10.385C14.5627 10.6345 14.6751 10.953 14.6669 11.28Z' stroke='%23FAF3E4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_50_765'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.contact_bottom__item__value__content a {
	color: inherit;
	text-decoration: none;
}
.contact_bottom__item__value__content a:hover {
	opacity: 0.5;
}

.contact_bottom__item__content {
	display: flex;
	flex-direction: column;
	gap: 0.95rem;
}

.contact_bottom__item.contact_bottom__item--business_hours {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_50_775)'%3E%3Cpath d='M7.99967 14.6666C11.6816 14.6666 14.6663 11.6818 14.6663 7.99992C14.6663 4.31802 11.6816 1.33325 7.99967 1.33325C4.31778 1.33325 1.33301 4.31802 1.33301 7.99992C1.33301 11.6818 4.31778 14.6666 7.99967 14.6666Z' stroke='%23FAF3E4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 4V8L10.6667 9.33333' stroke='%23FAF3E4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_50_775'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.contact_bottom__item__value__hours__row {
	display: flex;
	gap: 0.85rem;
	margin-top: 0.15rem;
}

.contact__block__form__content__title {
	text-align: left;
	margin-bottom: 2.5rem;
}

.field_item.field_item--file input {
	position: absolute;
	opacity: 0;
}

.field_item--file__title {
	display: flex;
	font-weight: 400;
	font-size: 1.12rem;
	line-height: 1.22222;
	gap: 0.3rem;
}

.field_item--file__title span {
	text-decoration: underline;
}

.field_item.field_item--file {
	margin-top: -0.15rem;
	margin-bottom: 0.12rem;
	cursor: pointer;
	display: block;
}

.field_item.field_item--file:hover {
	color: #876b3e;
}

.loaded .field_item.field_item--file {
	transition: 0.25s;
}

.field_item.field_item--file:hover .field_item--file__title span {
	text-decoration: none;
}

.field_item--file__title path {
	transition: 0.25s;
}

.field_item.field_item--file:hover .field_item--file__title path {
	stroke: #876b3e;
}

.btn_form_send {
	width: 100%;
	max-width: 18.5rem;
}

.main_footer {
	background: #2b2420;
	color: #fff;
	font-size: 0.88rem;
	line-height: 1.42857;
	padding: 1.95rem 0;
}

.main_footer .container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.main_footer__links {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.main_footer__links a {
	color: inherit;
	text-decoration: none;
}

.main_footer__links a:hover {
	color: #876b3e;
}

.field_item--file__title svg {
	width: 1.5rem;
	height: auto;
}
.form_contact--message {
    position: absolute;
    background: #000;
    top: calc(100% + 1rem);
    padding: 0.75rem 1.5rem;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
}

.contact__block__form {
    position: relative;
}

.contact__block_success {
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
}

.contact__block_success__content {
    align-self: center;
    max-width: 19rem;
    text-align: center;
    margin: 0 auto;
	margin-top: -5rem;
}

.contact__block_success__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.contact__block_success__text {
    font-size: 1.12rem;
    line-height: 1.22222;
    text-align: center;
    color: #2b2420;
    margin-bottom: 1.5rem;
}

.contact__block_success__contact__item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    min-width: 5.5rem;
}

.contact__block_success__contact__item__icon {
    font-size: 0;
    width: 1.15rem;
}

.contact__block_success__contact__item__icon svg {
    width: 100%;
    height: auto;
}


.home_promo__line__item__bg {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home_promo__line__item {
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 1024px) {
	.home_promo__line__section {
		margin-left: -15px;
	}
	.home_promo__title {
		font-size: 50px;
		padding-right: 0;
		margin-bottom: 20px;
	}

	.home_promo {
		padding: 3.25rem 0 4.25rem;
	}

	.home_promo__text {
		max-width: 40rem;
		line-height: 1.45;
	}
	.home_about__text {
		font-size: 2.75rem;
	}

	.home_about__info {
		padding: 8.5rem 0 14.5rem;
	}

	.home_about__info__bottom {
		max-width: 40rem;
		justify-content: center;
		text-align: center;
	}

	.home_about__info__bottom__line {
		justify-content: center;
		gap: 1rem 5rem;
	}

	.home_about__info__bottom__line__item:nth-child(3):after {
		display: none;
	}

	.home_big_link_block__item {
		padding: 3.25rem 2.5rem 4rem;
		align-items: flex-end;
	}

	.home_big_link_block__item__title {
		font-size: 2.75rem;
	}

	.home_big_link_block__item__book {
		font-size: 1rem;
	}

	.home_big_link_block__guarantee {
		padding: 3.25rem 2.5rem 4rem;
	}

	.home_big_link_block__guarantee__title {
		font-size: 2.75rem;
		width: 45%;
	}

	.home_big_link_block .container {
		padding: 0;
	}

	.home_big_link_block {
		padding: 0rem 0 4.25rem;
	}
	.review_home_list {
		margin-left: -15px;
		margin-top: 2.5rem;
	}

	.review_home__item__section {
		max-width: 23rem;
		padding: 0 0 0 1rem;
	}

	.review_home__item {
		padding: 3.825rem 1.25rem 1.75rem;
		background-position: 1.25rem 1.4rem;
	}

	.title_y {
		font-size: 2.75rem;
		margin-bottom: 1.15rem;
	}

	.text_y {
		line-height: 1.35;
	}

	.faq_item {
		padding: 0 1.25rem;
	}

	.faq_item__top {
		padding: 1.6rem 0 1.5rem;
	}

	.faq_item__btn {
		top: 0.95rem;
	}

	.faq_item__title {
		font-size: 1.35rem;
	}

	.faq_item__content {
		padding: 0rem 0 2.5rem;
		font-size: 1rem;
		max-width: 600px;
		line-height: 1.35;
	}

	.home_faq {
		padding-bottom: 4rem;
	}

	.contact__block__map {
		margin-left: -15px;
	}

	.contact__block__map__content {
		left: 20px;
		right: 20px;
		margin: auto;
		max-width: 22rem;
		width: 100%;
		padding: 1.5rem;
		top: 50%;
		transform: translate(0, -50%);
	}

	.contact__block__form__block {
		padding: 3.5rem 0;
		padding-left: 15px;
	}

	.contact__block .container {
		min-height: 47.5rem;
	}
}

@media screen and (max-width: 800px) {
	.contact__block_success__content {
		margin: 33px auto;
	}
	.home_promo__line__block.home_promo__line__block--1 {
		width: 12.5rem;
	}

	.home_promo__line__block.home_promo__line__block--2 {
		width: 13rem;
	}

	.home_promo__line__block.home_promo__line__block--3 {
		width: 13rem;
	}

	.home_promo__line__block.home_promo__line__block--4 {
		width: 25rem;
	}

	.home_promo__line__block.home_promo__line__block--5 {
		width: 14.5rem;
	}

	.home_promo__title {
		font-size: 34.5px;
		max-width: 500px;
	}

	.home_promo__text {
		font-size: 17px;
		max-width: 30rem;
		line-height: 1.45;
	}

	.btn_home_promo__more {
		width: 100%;
		max-width: 250px;
	}
	.home_about__text {
		font-size: 2.15rem;
	}

	.home_about__info__bottom {
		font-size: 13px;
		bottom: 1.25rem;
		max-width: 420px;
	}

	.home_about__info__bottom__line {
		gap: 0.5rem 3rem;
	}

	.home_about__info__bottom__line__item:after {
		right: -2rem;
	}

	.home_big_link_block__item__text {
		line-height: 1.45;
		max-width: 330px;
	}

	.home_big_link_block__item__title {
		margin-bottom: 0.65rem;
		font-size: 2.25rem;
	}

	.home_big_link_block__item {
		flex-direction: column;
		align-items: flex-start;
		padding: 35px 15px;
	}

	.home_big_link_block__guarantee__title {
		font-size: 2.25rem;
		border: none;
		width: 100%;
		padding: 0;
	}

	.home_big_link_block__guarantee {
		gap: 2.25rem;
		padding: 35px 15px 40px;
	}

	.home_big_link_block__guarantee__label {
		padding: 0;
		width: 100%;
	}

	.home_big_link_block__item__book__icon {
		width: 35px;
		height: 35px;
	}

	.home_big_link_block__guarantee__label__text {
		max-width: 370px;
	}
	.title_y {
		font-size: 2.2rem;
	}

	.home_big_link_block {
		padding-bottom: 3.5rem;
	}

	.faq_home_block {
		margin-top: 3.5rem;
	}

	.home_faq {
		padding-bottom: 3.5rem;
	}

	.contact__block .container {
		flex-direction: column-reverse;
		gap: 0;
		display: flex;
		min-height: 0;
	}

	.contact__block__map {
		position: relative;
		height: 500px;
		width: 100vw;
	}

	.contact__block__form__block {
		margin: 0;
		padding: 2.5rem 0;
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.contact__block__form__content__title.title_y {
		margin-bottom: 30px;
	}

	.home_promo__title.title_display span{display: inline;}
	.home_promo__title {
		font-size: 31px;
		margin-bottom: 20px;
	}

	.home_promo {
		padding: 37.5px 0;
	}

	.home_promo__line__block.home_promo__line__block--1 {
		width: 10rem;
	}

	.home_promo__line__block.home_promo__line__block--2 {
		width: 10.5rem;
	}

	.home_promo__line__block.home_promo__line__block--3 {
		width: 11.5rem;
	}

	.home_promo__line__block.home_promo__line__block--4 {
		width: 20.5rem;
	}

	.home_promo__line__block.home_promo__line__block--5 {
		width: 10.5rem;
	}

	.home_promo__line {
		padding-bottom: 2rem;
	}
	.marquee__line {
		animation: scroll 30s linear infinite;
	}

	.home_about__text {
		font-size: 1.6rem;
	}

	.home_about__info {
		padding: 4rem 0px 9.5rem;
	}

	.home_about__info__bottom {
		font-size: 11.5px;
		max-width: 300px;
	}

	.home_about__info__bottom__line__item:nth-child(5):after {
		display: none;
	}

	.home_big_link_block__item__title {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.home_big_link_block__item__text {
		font-size: 14px;
		max-width: 240px;
	}

	.home_big_link_block__item {
		padding: 24px 15px 27px;
	}

	.home_big_link_block__guarantee__title {
		font-size: 24px;
	}

	.home_big_link_block__guarantee {
		position: relative;
	}

	.home_big_link_block__guarantee__label__icon {
		position: absolute;
		top: -107.5px;
		left: 180px;
	}

	.title_y {
		font-size: 28px;
	}

	.faq_home_block {
		margin-top: 2rem;
	}

	.faq_item__title {
		font-size: 18px;
	}

	.faq_item__btn {
		width: 2.25rem;
		top: 1.45rem;
	}

	.text_y--review_home {
		max-width: 200px;
	}

	.review_home__item__section {
		width: 21.5rem;
	}

	.review_home__item {
		font-size: 15px;
	}
	.field_item__content input{
		min-height: 42px;
	}
}
