.page_reviews__top__title {
	font-size: 1.5rem;
	line-height: 1.25;
	color: #161616;
	font-family: 'Rufina', sans-serif;
}

.page_reviews__top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
	align-items: center;
	margin-bottom: 2rem;
}

.page_reviews__select {
	width: 18.5rem;
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #2b2420;
	border-radius: 0.06rem;
	padding: 0.5rem 0.5rem;
	height: auto;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	padding: 0;
	font-size: 1.12rem;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%232F3033' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	width: 1.15rem;
	height: 1.15rem;
	background-size: contain;
	top: 0.85rem;
	right: 0.45rem;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	display: none;
}

.select2-container--default
	.select2-results__option--highlighted.select2-results__option--selectable {
	background: #876b3e;
}

.select2-results__option {
	padding: 0.5rem 0.55rem;
	font-size: 1.1rem;
}

.select2-container--default .select2-results__option--selected {
	background: #000;
	color: #fff;
}

.select2-dropdown {
	border-color: #000;
	border-radius: 0;
}

.page_review__item {
	background: #faf7ef;
	background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.304 10.304C10.304 7.95733 11.2 5.78133 12.992 3.776C14.784 1.77067 16.32 0.512001 17.6 0L18.56 1.344C17.28 2.02667 16.192 3.008 15.296 4.288C14.4427 5.568 13.952 6.89067 13.824 8.256C14.1653 8.04267 14.6987 7.936 15.424 7.936C16.192 7.936 16.8533 8.27733 17.408 8.96C17.9627 9.6 18.24 10.4533 18.24 11.52C18.24 12.5867 17.8347 13.4613 17.024 14.144C16.256 14.784 15.296 15.104 14.144 15.104C12.992 15.104 12.0533 14.6987 11.328 13.888C10.6453 13.0773 10.304 11.8827 10.304 10.304ZM3.84 15.104C2.73067 15.104 1.81333 14.5067 1.088 13.312C0.362667 12.1173 0 10.7947 0 9.344C0 7.89333 0.298667 6.61333 0.896 5.504C1.49333 4.352 2.24 3.41333 3.136 2.688C4.84267 1.32267 6.22933 0.426666 7.296 0L8.256 1.344C6.976 2.02667 5.888 3.008 4.992 4.288C4.13867 5.568 3.648 6.89067 3.52 8.256C3.86133 8.04267 4.39467 7.936 5.12 7.936C5.888 7.936 6.54933 8.27733 7.104 8.96C7.65867 9.6 7.936 10.4533 7.936 11.52C7.936 12.5867 7.53067 13.4613 6.72 14.144C5.952 14.784 4.992 15.104 3.84 15.104Z' fill='%23DBCFB8'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	padding: 3.2rem 1.5rem 1.5rem 1.25rem;
	font-size: 1.12rem;
	line-height: 1.33333;
	color: #594036;
	background-position: 1.25rem 1.4rem;
	background-size: 1.25rem;
	width: calc((100% - 3rem) / 3);
	margin: 0 0.5rem 1rem;
}

.page_review__item__text {
	font-size: 1.12rem;
	line-height: 1.33333;
	color: #594036;
}

.page_review__item__text p {
	margin-bottom: 1rem;
}

.page_review__item__text p:last-child {
	margin-bottom: 0;
}

.page_reviews__list {
	margin: 0 -0.5rem;
}

.page_review__item__bottom {
	margin-top: 1.3rem;
}

.page_review__item__name {
	font-family: Rufina, sans-serif;
	font-size: 1.12rem;
	line-height: 1.33333;
	text-transform: uppercase;
}

.page_review__item__date {
	font-size: 0.88rem;
	line-height: 1.42857;
	color: #2f3033;
}

.page_content.page_content--reviews {
	padding-bottom: 5rem;
}

@media screen and (max-width: 800px) {
	.page_content.page_content--reviews {
		padding-bottom: 3.5rem;
	}
	.page_review__item {
		width: calc((100% - 2rem) / 2);
		margin: 0 0.5rem 1rem;
	}
}

@media screen and (max-width: 550px) {
	.page_review__item {
		width: 100%;
		margin: 0 0rem 1rem;
	}
	.page_reviews__list {
		margin: 0;
	}
}
