.title_y.title_page {
	font-size: 3rem;
	margin: 0 0 0.8rem;
	font-weight: 400;
}

.page_top {
	background: #faf3e4;
	color: #161616;
	padding: 4.25rem 0 1.95rem;
	margin-bottom: 2rem;
}

.page_content.page_content--faq {
	padding-bottom: 7.5rem;
}

@media screen and (max-width: 1024px) {
	.title_y.title_page {
		font-size: 2.75rem;
	}

	.page_content.page_content--faq {
		padding-bottom: 2.5rem;
	}
}
@media screen and (max-width: 800px) {
	.title_y.title_page {
		font-size: 2.25rem;
	}

	.text_y.text_y--page {
		font-size: 14px;
		margin-bottom: 0;
	}

	.page_top {
		padding: 55px 0;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 550px) {
	.title_y.title_page {
		margin-bottom: 20px;
		font-size: 28px;
	}

	.text_y.text_y--page {
		line-height: 1.5;
	}
}
