.page__content--text {
	padding: 3.9rem 0 10rem;
}

.default_text {
	font-size: 1rem;
	line-height: 1.375;
}

.text_content_wrap {
	max-width: 69rem;
}

.default_text > * {
	margin-bottom: 1.4rem;
}

.default_text h1 {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.33333;
	color: #876b3e;
	font-family: 'Rufina', sans-serif;
	margin: 0 0 2.98rem;
}

.default_text h3 {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.25;
	color: #876b3e;
	font-family: 'Rufina', sans-serif;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.default_text h2 {
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 1.1875;
	color: #876b3e;
	font-family: 'Rufina', sans-serif;
	margin-top: 2.6rem;
	margin-bottom: 0.8rem;
}

@media screen and (max-width: 1024px) {
	.default_text h1 {
		font-size: 32px;
		margin-bottom: 22px;
	}

	.default_text {
		font-size: 14px;
		line-height: 1.45;
	}

	.page__content.page__content--text {
		padding: 35px 0;
	}

	.text_content_wrap {
		max-width: calc(100vw - 100px);
		margin: 0 auto;
	}

	.default_text h3 {
		font-size: 24px;
		margin-top: 24px;
		margin-bottom: 18px;
	}

	.default_text h2 {
		font-size: 28px;
		margin-top: 26px;
		margin-bottom: 18px;
	}
}

@media screen and (max-width: 550px) {
	.text_content_wrap {
		width: 100%;
		max-width: calc(100vw - 50px);
	}
}
