<!-- start footer -->

<footer class="main_footer">
    <div class="container">
        <div class="main_footer__copyright">© Aviel All Rights Reserved 2024</div>
        <div class="main_footer__links">
            <a href="review.html">Reviews</a>
            <a href="terms.html">Terms of Use</a>
        </div>
    </div>
</footer>


@@include('modal.html')

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTfFfCOtb65cluOXGa0uSjhTuqBhiZkk&libraries=places"></script>
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/fancybox.umd.js"></script>
<script src="js/vendor/masonry.pkgd.min.js"></script>
<script src="js/vendor/gsap.min.js"></script>
<script src="js/vendor/jquery.inputmask.bundle.js"></script>
<script src="js/vendor/ScrollTrigger.min.js"></script>
<script src="js/vendor/select2.min.js"></script>
<script src="js/vendor/slick.min.js"></script>
<script src="js/vendor/flatpickr.js"></script>
<script src="js/app.min.js?2"></script>
<script src="js/map.js?2" defer></script>
<script src="js/form.js?2"></script>
<script src="js/animate.js?2"></script>