<header class="header_main">
    <div class="container">

        <div class="header_menu header_col">
            <button class="header_btn_menu btn_menu js_btn_menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
        </div>

        <a href="index.html" class="header__logo">
            <img src="images/logo.svg" alt="main logo">
        </a>


        <div class="header__info header_col">
            <a href="tel: +1 212-382-2613" class="header__phone">+1 212-382-2613</a>
            <a href="contact.html#form_contact" class="btn_default btn_ghost btn_header_call">Get in touch</a>
        </div>

    </div>
</header>

<!-- end header -->
