<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">



<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
<meta name="msapplication-TileColor" content="#876B3E">
<meta name="theme-color" content="#ffffff">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Average+Sans&family=Rufina:wght@400;700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="css/vendor/select2.min.css">
<link rel="stylesheet" href="css/vendor/slick.css">
<link rel="stylesheet" href="css/vendor/fancybox.css">
<link rel="stylesheet" href="css/vendor/flatpickr.min.css">
<link rel="stylesheet" href="css/app.min.css?4">