<div class="js__modal__menu modal__menu">
    <div class="modal__menu__inner">

        <div class="modal__menu__top">
            <a href="index.html" class="modal__menu__logo">
                <img src="images/logo.svg" alt="main logo">
            </a>

            <button class="modal__menu__btn_close btn__close js_modal__menu__btn_close"></button>
        </div>


        <div class="modal__menu__list">
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
        </div>


        <div class="modal__menu__contact">
            <a href="tel: +1 212-382-2613" class="modal__menu__contact__phone">+1 212-382-2613</a>
            <a href="contact.html#form_contact" class="btn_default btn_dark_yellow btn_modal__menu__contact">Get in touch</a>
        </div>

    </div>
</div>
